<header class="site-head-content">
		<div class="desktop large-4 large-push-8">
            <div class="blog-logo"><a class="logo" title="Creative Geek CYH" href="{{@blog.url}}"></a></div>
            <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
            <h4 class="blog-description">{{@blog.description}} by <a href="#author">Chienyi Cheri Hung</a></h4>
            <div class="social-icons">
                <a href="https://twitter.com/cyhung" class="icon icon-twitter"><span class="tooltip above">I tweet.</span></a>
                <a href="https://plus.google.com/u/0/+ChienyiCheriHung/posts" class="icon icon-googleplus"><span class="tooltip above">Google rules our lives.</span></a>
                <a href="https://github.com/cherihung" class="icon icon-github"><span class="tooltip above">I have stuff on Github</span></a>
                <a href="http://www.linkedin.com/in/cyhung/" class="icon icon-linkedin"><span class="tooltip above">LinkedIn, um.</span></a>
                <a href="{{@blog.url}}/rss/" class="icon icon-feed"><span class="tooltip above">RSS anyone?</span></a>
            </div>
        </div>
        <div class="mobi">
            <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a> </h1>
            <h4 class="blog-description">{{@blog.description}} by <a href="#author">Chienyi Cheri Hung</a></h4>
        </div>
</header>
