<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="author" href="https://plus.google.com/u/0/+ChienyiCheriHung/posts"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500,500italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.min.css"}}" />   
    <script src="{{asset "js/vendor/modernizr.min.js"}}"></script>

    {{ghost_head}}
</head>
<body class="{{body_class}}" id="body">
    
    <div class="site-wrapper">
     <div class="large-4 large-push-7 small-12 columns site-head">
         {{> sidebar}}
     </div>
     <div class="large-6 large-pull-5 small-12 columns site-content">
           {{{body}}}
      </div>
    </div>
    <div class="site-footer columns large-12">
            {{> footer}}
    </div>
    <div class="footer-jump" style="display:none"><a class="icon icon-arrow-up" href="#body"></a></div>
    {{ghost_foot}}
    {{! The main JavaScript file for Islay }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/foundation.min.js"}}"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
