{{!< default}}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}
            <h1 class="post-title">{{{title}}}</h1>
            <section class="post-meta">
                <time datetime="{{date format='MM-DD-YYYY'}}">PUBLISHED: {{date format="MM.DD.YYYY"}}</time>
            </section>
            <div class="feature-image"><img src="{{image}}"></div>
            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">
                <section class="post-meta">
                        This post is about: {{> tag-item}}
                </section>
            </footer>

        {{/post}}

    </article>

    <aside class="comments">
        {{>disqus-thread}}
    </aside>
    
</main>

{{>addthis}}
